<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>competition create</title>
</head>
<body>
    <h2>グループ作成</h2>

<form method="post" th:action="@{/groups/create_group}" th:object="${group}">
    <p>コンペ名: <input type="text" th:field="${groupId}"/></p>
    <p>コンペ概要: <input type="text" th:field="${groupBio}"/></p>
    <p>タグ: <input type="text" th:field="${tagGroups}"/></p>
</form>

<button type="button" onclick="location.href='teacher_competition_create_completion.html'">作成</button>
<button type="button" onclick="location.href='teacher_main_menu.html'">メニューに戻る</button>

</body>
</html>
