<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>group search</title>
</head>
<body>

<form th:action="@{/group/showGroupList}" th:object="${Group}" method="get">
    <input type="search" name="search" placeholder="キーワードを入力">
    <input type="submit" name="submit" value="検索"><br>

    <div>
        <input type="radio" name="radioButton" value="seminar" checked>ゼミ
        <input type="radio" name="radioButton" value="competition">コンペ
        <input type="radio" name="radioButton" value="request">リクエスト
    </div>

    <table>
        <tr th:each="" th:object="${Group}" class="align-middle">
            <td th:text="*{groupName}"></td>
            <!-- 後で検索画面で所持しているUserIdを渡すような内容に変える -->
            <td><button type="button" onclick="location.href='../seminar/seminar_overview.html'">概要</button></td>
            <td><button type="button" onclick="location.href='../seminar/seminar_apply.html'">参加申請</button></td>
            <!-- -->
        </tr>
    </table>

</form>

<button type="button" onclick="location.href='../student/student_main_menu.html'">メニューに戻る</button><br>

</body>
</html>