<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">

    <title>メインメニュー</title>
</head>
<body>
<header>
    <div class="hamburger-menu">
        <input id="menu-btn-check" type="checkbox">
        <label class="menu-btn" for="menu-btn-check"><span></span></label>
        <!--ここからメニュー-->
        <div class="menu-content">
            <ul>
                <li>
                    <a href="search.html">検索画面</a>
                </li>
                <li>
                    <a href="request.html">リクエスト画面</a>
                </li>
                <li>
                    <a href="student_edit_profile.html">パスワード変更</a>
                </li>
            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>
</header>
<!-- サイドバーの表示 -->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main class="offcanvas-outside bg-light"
      layout:fragment="content">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
    </div>
<!--参加ゼミ一覧表示-->
    <table>
        <thead>
        <tr>
            <th>ゼミ名</th>
            <th>ゼミ概要</th>
        </tr>
        </thead>
        <tbody>
        <!-- groupsが空でない場合、groupsの要素をgroupに格納する -->
        <!-- 要素の数ループする -->
        <tr th:each="group : ${groups}" th:if="${!#lists.isEmpty(groups)}">
            <form action="student_seminar_menu" method="POST">
                <input name="groupId" type="hidden" value="group.groupId">
                <td th:text="${group.groupName}"></td>
                <td th:text="${group.groupBio}"></td>
                <td><input th:value="メニュー" type="submit"></td>

            </form>
        </tr>
        </tbody>
    </table>
<!--参加コンペ一覧表示-->
<table>
    <thead>
    <tr>
        <th>コンペ名</th>
        <th>コンペ概要</th>
    </tr>
    </thead>
    <tbody>
    <!-- groupsが空でない場合、groupsの要素をgroupに格納する -->
    <!-- 要素の数ループする -->
    <tr th:each="group : ${groups}" th:if="${!#lists.isEmpty(groups)}">
        <form action="student_competition_menu" method="POST">
            <input name="groupId" type="hidden" value="group.groupId">
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.groupBio}"></td>
            <td><input th:value="メニュー" type="submit"></td>

        </form>
    </tr>
    </tbody>
</table>
</main>

</body>
</html>
